@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap')

/* NAVBAR */
body
    font-family: "Montserrat", serif
    margin: 0
    padding: 0

h1
    padding: 0
    margin: 0
    font-size: 16px

ul
    margin: 0
    padding: 0

.navbar
    display: flex
    justify-content: space-between
    margin: 7px 3px
    position: fixed
    top: 0
    left: 0
    background-color: white
    z-index: 10000
    width: calc(100% - 6px)
    padding: 12px 17px
    border-radius: 3px
    transition: 0.6s
    border: 3px solid transparent
    border-radius: 10px
    background: linear-gradient(white, white) padding-box, linear-gradient(90deg, #40c9ff, #e81cff) border-box
    background-size: 200% 100%
    animation: borderAnimation 4s linear infinite

header .sticky
    display: flex
    justify-content: space-between
    position: fixed
    margin: 0
    top: 0
    left: 0
    background-color: white
    z-index: 10000
    width: 100%
    padding: 5px 10px
    transition: 0.6s
    border-radius: 0
    border: 0

@keyframes borderAnimation
    0%
        background-position: 0% 50%
    100%
        background-position: 200% 50%

.navbar h1
    font-size: 30px
    font-family: 'Roboto', serif
    font-weight: 600
    color: #1d005a
    transition: 0.6s

.menu-nav li
    display: inline-block
    margin-right: 15px
    transition: 0.6s

.menu-nav li a
    padding: 0
    margin: 0
    font-family: "Roboto", serif
    font-size: 18px
    font-weight: 600
    opacity: 0.7
    text-decoration: none
    color: black

.menu-nav li button
    padding: 7px 16px
    border: 1px solid #000
    background: #1d005a
    color: #fff
    font-size: 16px
    font-weight: 700
    border-radius: 3px
    cursor: pointer
    letter-spacing: 0.1em
    transition: 0.2s ease-in-out

.menu-nav li:last-child
    margin-right: 0

.menu-nav li a.active
    opacity: 1

.menu-nav li a:hover
    background: linear-gradient(90deg, #40c9ff, #e81cff)
    -webkit-background-clip: text
    background-clip: text
    color: transparent
    opacity: 1

/* FLOATING BUTTON */
.floating-button
    position: fixed
    bottom: 30px
    right: 30px
    border-radius: 50%
    height: 60px
    width: 60px
    background-image: url('img/whatsapp.png')
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    cursor: pointer
    z-index: 1000000

/* SLIDER */
.bg-image
    background: url('img/coding.png') center/cover no-repeat
    width: 100%
    height: auto

.image-1
    background: url('img/coding.png') center/cover no-repeat

.image-2
    background: url('img/coding2.png') center/cover no-repeat

.image-3
    background: url('img/coding3.png') center/cover no-repeat

.splide__slide img
    width: 100%
    height: auto

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: Arial, sans-serif

.overlay
    position: absolute
    width: 100%
    height: 100%
    background: rgba(0, 0, 0, 0.5)

.content
    position: relative
    z-index: 1
    max-width: 600px
    padding: 80px 20px
    margin-top: 130px
    margin-left: 100px

.content h2
    font-family: "Montserrat", serif
    font-size: 40px
    color: white
    margin-bottom: 15px

.content p
    font-family: "Montserrat", serif
    font-size: 16px
    color: white
    margin-bottom: 30px

.buttons
    display: flex
    gap: 15px
    justify-content: flex-start

.btn
    padding: 12px 35px
    font-size: 1rem
    border: 2px solid transparent
    cursor: pointer
    border-radius: 25px
    transition: 0.3s
    font-family: "Montserrat", serif
    font-weight: 500

/* Botón con fondo sólido y gradiente */
.btn.primary
    background: linear-gradient(90deg, #40c9ff, #e81cff)
    color: white
    border: none

.btn.primary:hover
    opacity: 0.8

/* Gallery section */

.container-title
  display flex
  flex-direction column
  align-items center
  gap 20px
  width 50%
  margin 80px auto

  .horiz-line
    width 120px
    height 2px
    background linear-gradient(90deg, #40c9ff, #e81cff)

  h3
    font-family "Montserrat", serif
    font-size 30px
    font-weight 600

    span
      background-image linear-gradient(90deg, #40c9ff, #e81cff)
      background-clip text
      -webkit-text-fill-color transparent
      font-weight 600
      font-family "Montserrat", serif

.grid-3col
  display grid
  grid-template-columns 1fr 1fr 1fr
  margin 10px
  gap 10px

.item-grid
  width 100%
  min-height 250px
  overflow hidden
  position relative
  border-radius 5px

  img
    width 100%
    height 100%
    object-fit cover
    display block

  .overlay
    display flex
    flex-direction column
    align-items center
    justify-content center
    gap 10px
    font-family "Montserrat", serif
    font-weight 400
    color white
    background-color rgba(0, 0, 0, 0.5)
    position absolute
    bottom 0
    width 100%
    font-size 20px
    padding 15px 15px
    opacity 0
    transition 0.6s

    h4
      font-family "Montserrat", serif
      font-weight 600
      color white
      font-size 20px

    p
      font-family "Montserrat", serif
      font-weight 300
      color white
      font-size 14px

  &:hover .overlay
    opacity 1

/* VIDEO SECTION */

.gallery-separator
  background-color rgb(243, 243, 243)
  border none
  height 1px
  margin-top 70px

.video-section .container-title
  flex-direction row
  width 100%
  justify-content flex-start
  padding 0 100px
  margin 50px 0 15px 0

.youtube-icon
  width 40px
  height 40px

.yt-stats
  display flex
  justify-content flex-start
  gap 15px
  padding 0 100px
  margin 0

  span
    font-family "Montserrat", serif
    font-size 16px
    font-weight 500

.views-icon
  width 25px
  height 17px

.yt-views
  display flex
  justify-content flex-start
  gap 3px
  margin 0

.video-frame
  padding 0 100px
  margin 20px 0
  width 100%

/* CONTACT FORM */

.contact-form
  border 1px solid black
  display flex
  flex-direction column
  align-items center
  padding 35px 25px

  h3
    font-family "Montserrat", serif
    font-size 30px
    font-weight 600
    margin-bottom 5px

  p
    font-family "Montserrat", serif
    font-size 13px
    font-weight 400
    margin-bottom 20px

.grid-2col
  display grid
  grid-template-columns 1fr 1fr
  padding 0 100px
  margin 40px 0

  .grid-2col-item .container-title
    width 100%
    padding 10px

    p
      width 50%
      text-align center
      padding 10px

.form-grid-4row
  display grid
  grid-auto-flow row
  gap 10px
  width 100%

.form-row
  display flex

#email
  width 50%
  margin-right 6px

#full-name
  width 50%
  margin-left 6px

#dropdown-country
  width 25%
  margin-right 6px

#phone-number
  width 75%
  margin-left 6px

.form-input
  border 1px solid #C0C0C0
  padding 13px 5px
  border-radius 3px
  color #C0C0C0

  &::placeholder
    color #C0C0C0

#message
  width 100%
  padding 30px 5px

.form-grid-4row button
  padding 12px 35px
  width 35%
  margin 20px auto
  font-size 1rem
  border 2px solid transparent
  cursor pointer
  border-radius 5px
  transition 0.3s
  font-family "Montserrat", serif
  font-weight 600
  color white
  background-color #606060

/* footer */
.footer-black
    display: flex
    flex-direction: column
    background-color: black
    padding: 30px
    gap: 10px

    p
        text-align: center
        margin: 0 auto
        width: 60%
        font-family: "Montserrat", serif
        color: white

    nav
        width: 60%
        margin: 20px auto
        text-align: center

.footer-nav ul li a
    color: white
    font-size: 20px

.horiz-line
    width: 120px
    height: 2px
    background: linear-gradient(90deg, #40c9ff, #e81cff)
    margin: 0px auto 20px auto

.footer-black p:last-child
    margin-bottom: 30px

/* Celular */
@media (max-width: 450px)
    .navbar
        flex-direction: column
        gap: 10px

        h1
            text-align: center

    .menu-nav ul
        display: flex
        justify-content: center
        align-items: center

    .grid-2col
        display: flex
        flex-direction: column
        padding: 0px 20px

    .grid-2col-item .container-title p
        width: 80%

    .form-grid-4row button
        width: 45%

    .video-frame
        padding: 0 20px
        margin: 20px 0px
        width: 100%
        height: 250px

    .video-section .container-title
        padding: 0 20px
        flex-direction: column

    .youtube-icon
        display: none

    .yt-stats
        padding: 0 20px
        justify-content: center

    .container-title
        margin: 40px auto
        width: 70%

        h3
            font-size: 20px
            text-align: center

        p
            margin-top: -15px
            text-align: center

    .grid-3col
        display: flex
        flex-direction: column
        padding: 0 20px
        gap: 20px
        margin-bottom: 20px
        margin-left: 0px
        margin-right: 0px

    .gallery-separator
        margin-top: 35px

    .content
        margin: 110px 35px 0px 35px
        padding: 140px 20px

        h2
            font-size: 25px
            text-align: center

        p
            font-size: 14px
            text-align: center

        button
            margin: 0 auto    

    .overlay
        h4, p
            text-align: center

@media (max-width: 410px)
    .item-grid
        max-height: 200px
/* Tablet */
@media (min-width: 450px) and (max-width: 998px)
    .grid-2col
        display: flex
        flex-direction: column
        padding: 0px 50px

    .grid-2col-item .container-title p
        width: 70%

    .video-section .container-title
        padding: 0 50px
        flex-direction: column

    .container-title
        margin: 40px auto
        width: 70%

        h3
            font-size: 22px
            text-align: center

        p
            margin-top: -15px

    .youtube-icon
        display: none

    .yt-stats
        padding: 0 50px
        justify-content: center

    .video-frame
        height: 300px
        padding: 0 50px

    .grid-3col
        display: flex
        flex-direction: column
        padding: 0 20px
        gap: 20px
        margin-bottom: 20px

    .gallery-separator
        margin-top: 35px

    .content
        margin-left: 75px

/* Tablet (450px - 700px) */
@media (min-width: 450px) and (max-width: 700px)
    .content
        max-width: 500px

        h2
            font-size: 30px

        p
            font-size: 16px

    .navbar
        flex-direction: column
        gap: 10px

        h1
            text-align: center

    .menu-nav ul
        display: flex
        justify-content: center
        align-items: center

    .item-grid
        max-height: 500px
        height: unset

/* Tablet (450px - 600px) */
@media (min-width: 450px) and (max-width: 600px)
    .content
        margin: 150px auto 0 auto
        max-width: 450px

        h2, p
            text-align: center

        button
            margin: 0 auto

/* Tablet (450px - 500px) */
@media (min-width: 450px) and (max-width: 500px)
    .content
        padding-right: 50px
        padding-left: 50px


body.dark-mode
    background-color: #121212
    color: #ffffff


    .menu-item a
        color: #ffffff

    .splide__slide
        background-color: #1f1f1f
        color: #ffffff

    .gallery
        background-color: #1f1f1f
        color: #ffffff

    .contact
        background-color: #1f1f1f
        color: #ffffff

    .footer-black
        background-color: #1f1f1f
        color: #ffffff

// Botón de modo oscuro
.dark-mode-toggle
    position: fixed
    justify-count: start
    bottom: 20px
    left: 20px
    width: 50px
    height: 50px
    background-color: #333
    border: none
    border-radius: 50%
    color: #fff
    font-size: 24px
    cursor: pointer
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2)
    z-index: 1000
    transition: background-color 0.3s

    &:hover
        background-color: #555
